.accordion {
}

.accordion__header {
}

.accordion__trigger {
}
.accordion__trigger::after {
	content: "";
	@apply absolute inset-0;
}

.accordion__content {
	display: block !important;
	transition-property: "max-height";
	height: 100%;
	transition-duration: 1s;
	max-height: 0;
}

.accordion__main {
	@apply pt-2;
}

.accordion.open .accordion__content {
	transition-duration: 3s;
	max-height: 100rem;
}
