/* Simple branding */
#global-sidebar #nav {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='100' height='20' viewBox='0 0 100 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg fill='%23131a20'%3e%3cpath d='M0 13.2848H2.80887C2.90658 16.0344 4.76303 17.6643 7.98741 17.6643C11.0894 17.6643 12.8245 16.3018 12.8245 14.0634C12.8245 8.68616 0.537889 13.7714 0.537889 5.49914C0.536902 2.28754 3.41979 0 7.79199 0C12.1889 0 15.2672 2.45761 15.2672 6.13124H12.5313C12.3359 3.74638 10.6255 2.33571 7.71896 2.33571C4.81238 2.33571 3.1997 3.60088 3.1997 5.76653C3.1997 10.8754 15.5109 6.03392 15.5109 14.0634C15.5109 17.4696 12.7751 20 7.8897 20C3.17601 20 0 17.5178 0 13.2848Z'/%3e%3cpath d='M19.068 0.389282H21.6084V19.6107H19.068V0.389282Z'/%3e%3cpath d='M25.6736 0.389282H29.728L36.4215 16.5446L43.1387 0.389282H47.1941V19.6107H44.629V3.72278L37.7647 19.6107H35.0773L28.214 3.72278V19.6107H25.6736V0.389282Z'/%3e%3cpath d='M51.2584 0.389282H59.7344C63.9605 0.389282 66.1584 2.48218 66.1584 5.98574C66.1584 9.48931 63.9605 11.7277 59.7344 11.7277H53.7988V19.6107H51.2584V0.389282ZM59.2952 9.29466C62.1534 9.29466 63.4966 8.07766 63.4966 6.05849C63.4966 4.01474 62.104 2.79872 59.1728 2.79872H53.7988V9.29466H59.2952Z'/%3e%3cpath d='M69.2012 0.389282H71.7416V17.2023H82.5872V19.6107H69.2012V0.389282Z'/%3e%3cpath d='M85.637 0.389282H99.8777V2.79774H88.1774V8.63701H99.023V10.9973H88.1774V17.2013H100V19.6097H85.637V0.389282Z'/%3e%3c/g%3e%3c/svg%3e ");
	-webkit-background-size: auto 22px;
	background-size: auto 22px;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 46px;
	margin-bottom: 24px;
}

/* Redactor */

.redactor-styles h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.redactor-styles h3 {
	margin-top: 0.75em;
	margin-bottom: 0.35em;
}

.redactor-styles ul li {
	margin-bottom: 0.5em;
}

.redactor-dropdown .redactor-dropdown-feature-paragraph,
.redactor-styles .feature-paragraph {
	font-size: 1.4em;
}

.redactor-styles .feature-paragraph {
	line-height: 1.4;
	margin-bottom: 1em;
}

/* Fix wordcount statusbar */

body.ltr .readable ul.redactor-statusbar,
body.ltr .readable ol.redactor-statusbar {
	padding-left: 10px;
}

.readable ul.redactor-statusbar li {
	list-style-type: none;
}

.readable ul.redactor-statusbar li + li {
	margin-top: 0;
}

/* Tweak Buttonbox fields */

.buttonbox-buttons--graphical {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

/* Visual overrides for Link Fieldtype */

.linkfield.withSettings {
	padding: 16px 10px !important;
	border: none !important;
}

.linkfield--settings {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 1.5em;
}

.linkfield--settings .field {
	margin-bottom: 0;
	width: 100%;
}

.linkfield--settings .checkboxfield {
	margin-left: 1em;
}

/* Icon picker */
.field[data-type="simpleteam\\svgpicker\\fields\\SvgPickerField"]
	[data-value^="zoutline"]
	svg
	*,
.field[data-type="simpleteam\\svgpicker\\fields\\SvgPickerField"]
	[data-value^="outline"]
	svg
	* {
	stroke: var(--text-color) !important;
	fill: none !important;
}

.field[data-type="simpleteam\\svgpicker\\fields\\SvgPickerField"]
	[data-value^="zolid"]
	svg
	*,
.field[data-type="simpleteam\\svgpicker\\fields\\SvgPickerField"]
	[data-value^="solid"]
	svg
	* {
	fill: var(--text-color) !important;
}

.svg-card .svg-card__preview svg *[stroke] {
	fill: none !important;
	stroke: var(--text-color) !important;
}

.svg-card .svg-card__preview svg *:not([stroke]) {
	stroke: none !important;
	fill: var(--text-color) !important;
}
