<If "-R '103.93.169.30/32' || -R '180.150.117.84/32'">
	# Allow trusted IPs
</If>
<Else>
	# Prompt login for anyone else
	AuthUserFile /srv/users/user/apps/app-name/.htpasswd
	AuthType Basic
	AuthName "Password Protected"
	Require valid-user
</Else>

<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE;
</IfModule>

# Security Hardening
## Remove verbose error pages
ErrorDocument 403 /custom_error_page.html                                             
ErrorDocument 500 /custom_error_page.html
ErrorDocument 503 /custom_error_page.html
## Security Headers
<IfModule mod_headers.c>
        Header set X-Frame-Options "SAMEORIGIN"
        Header set X-XSS-Protection "1; mode=block"
        Header set X-Content-Type-Options nosniff
        Header set Permissions-Policy "geolocation=self"        
        Header set Content-Security-Policy "upgrade-insecure-requests"
		#Header Content-Security-Policy: default-src https://cdn.example.com; child-src 'none'; object-src 'none'
		Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"        
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault							"access plus 1 year"
	ExpiresByType text/html					"access plus 0 seconds"
	ExpiresByType text/xml					"access plus 0 seconds"
	ExpiresByType application/xml			"access plus 0 seconds"
	ExpiresByType application/json			"access plus 0 seconds"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	# Force single correct URL
	# RewriteCond %{HTTPS} off [OR]
	# RewriteCond %{HTTP_HOST} !^domain\.tld$
	# RewriteRule ^(.*)$ https://domain.tld/$1 [R=301,L]

	# Block Outlook discovery post errors
	# https://support.tigertech.net/autodiscover-block-requests
	RewriteRule ^autodiscover/autodiscover.xml$ - [forbidden,last]
	RewriteRule ^Autodiscover/Autodiscover.xml$ - [forbidden,last]

	# Send would-be 404 requests to Craft
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
	RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>
