<div class="p-8 text-center bg-white rounded-lg shadow-lg">
	<h2 class="text-gray-700 heading-3">
		{{ block.heading }}
	</h2>

	{% if block.text|default %}
		<div class="richtext mt-2">
			{{ block.text }}
		</div>
	{% endif %}

	<div class="flex justify-center mt-8">
	{% for item in block.links %}
		<div class="inline-flex ml-3 rounded-md shadow first:ml-0">
		{% include "_atoms/button" with {
			self: {
				url: item.linkField.url|default,
				text: item.linkField.text|default,
				icon: "outline/heroicons/chevron-right",
				classes: loop.first ? [] : ["text-blue-800 bg-blue-100 hocus:text-white"]
			}
		} %}
		</div>
	{% endfor %}
	</div>
</div>
