.breadcrumbs__wrapper {
	@apply flex flex-wrap;
}

.breadcrumbs__crumb {
	@apply inline-block text-sm font-medium uppercase leading-normal;
}
.breadcrumbs__crumb:not(:last-of-type):after {
	content: "•";
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.breadcrumbs__link {
	@apply transition duration-150 ease-in-out border-b border-current;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
	@apply border-transparent;
}

.breadcrumbs__active {
}
